*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  --blue: #007bff;
  --gray: #6c757d;
  --white: #ffffff;
  --gray-dark: #343a40;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --breakpoint-lg: 992px;
  --gray-light: #cccccc;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xl: 1200px;
  --breakpoint-xs: 0;
}

body {
  background-color: #ffffff;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

a {
  background-color: transparent;
  color: var(--blue);
  text-decoration: none;
}

dl, ol, ul {
  margin-bottom: 1rem;
  margin-top: 0;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  z-index: 1;
  padding: 0 16px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}


nav a {
  color: var(--white);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

section {
  padding: 150px 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

section#services {
  background-color: #f8f9fa;
}

img {
  vertical-align: middle;
  border-style: none;
  object-fit: cover;
}

header {
  color: var(--white);
  background-image: linear-gradient(rgba(34, 84, 153, 0.8), rgba(34, 84, 153, 0.8)), url("img/math.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
  height: 350px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img.logo {
  height: 75px;
  width: 75px;
}

footer {
  background-color: var(--gray-dark);
  color: var(--white);
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}

footer img.logo {
  height: 93px;
  width: 93px;
  margin-bottom: 5px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
}

h1 {
  font-size: 2.5rem
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.75rem
}

h4 {
  font-size: 1.5rem
}

h5 {
  font-size: 1.25rem
}

h6 {
  font-size: 1rem
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

p.lead {

}

.header-bg {
  background-image: linear-gradient(rgba(34, 84, 153, 0.8), rgba(34, 84, 153, 0.8)), url("img/math.jpg");
  background-position: center;
  bottom: -5px;
  filter: blur(4px);
  height: 100%;
  position: absolute;
  top: -5px;
  transform: scale(1.1);
  width: 100%;
  z-index: -1;
}

